<div class="search-form">
  <input id="band-input" type="text" class="form-control" placeholder="Band"/>
  <input id="style-input" type="text" class="form-control" placeholder="Styles"/>
  <input id="from-input" type="text" class="form-control" />
  <input id="to-input" type="text" class="form-control" />
  <input id="location-input" type="text" class="form-control" placeHolder="Location" />
  <input id="radius-input" type="text" class="form-control" placeHolder="radius" />

  <button id="search-button" class="btn btn-default">Search</button>

  <!-- <label class="control-label">Location</label> -->
  <!-- <div class="inner-addon left-addon"> -->
  <!--   <i class="glyphicon pin-icon"></i> -->
  <!--   <input id="location-input" type="text" class="form-control" placeholder="Location"/> -->
  <!-- </div> -->
</div>
