<!DOCTYPE html>
<html>
  <head>
    <title>Mobile</title>
  </head>
  <body>
    <h1>MOBILE STYLE</h1>
    <p>Select option</p>
    <select name="select">
      <option value="value1">Value 1</option> 
      <option value="value2" selected>Value 2</option>
      <option value="value3">Value 3</option>
    </select>
    <br />
    <p>Multiple select option</p>
    <select name="select" multiple="true">
      <option value="value1">Value 1</option> 
      <option value="value2" selected>Value 2</option>
      <option value="value3">Value 3</option>
    </select>

  </body>
</html>
