<div class="placeholder-location-radius">
  <input id="<%= htmlID %>-from-location" class="from-location" name="location" type="text" role="textbox" placeholder="Location" />
  
  <div id="<%= htmlID %>-radius" class="from-location">
    <div class="distances-choice">
      <div>
        <input type="radio" name="radius" value="10" />
        <label>
          10km
        </label>
      </div>
      <div>
        <input type="radio" name="radius" value="50" />
        <label>
          50km
        </label>
      </div>
      <div>
        <input type="radio" name="radius" value="100" />
        <label>
          100km
        </label>
      </div>
      <div>
        <input type="radio" name="radius" value="200" />
        <label>
          200km
        </label>
      </div>
    </div>

    <span >100km</span>
  </div>
</div>
