<div class="placeholder-location-radius">

  <div class="input-group">
    <div class="input-group">
      <input id="<%= htmlID %>-from-location" name="location" type="text" class="form-control" placeholder="Location" />
      <div id="<%= htmlID %>-radius" class="input-group-btn">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Select a distance
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">20km</a></li>
          <li><a href="#">100km</a></li>
          <li><a href="#">200km</a></li>
          <li><a href="#">500km</a></li>
        </ul>
      </div>
    
  </div>
</div>
